body {
    font-size: 14pt;
    color: #000000;
    background-color: #44BCED;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}



.left {
    float: left;
    height: 100%;
    width: 20%;
    margin-bottom: 100px;
}